h1, h2, h3, h4, h5, h6{
	font-family:georgia,serif;
}

span.h1Alt,
span.h2Alt{
	font-family: "Helvetica Neue", Helvetica, 'Arimo', Arial, sans-serif;
	font-size: 28px;
	line-height: 44px;
	font-weight: 300;
	color: #333333;
	margin: 0px;
	display:block
}

span.h1Alt{font-size:32px}

section .h1Alt,
section .h2Alt{
	margin-bottom:4rem;
}

section.duplicatable-content{
	margin-bottom:80px;
}

.double-bounce1,
.double-bounce2{
	background-color: /*#009de0*/#0048e0;
}

.bg-secondary-1{
	background:#333;
}

.btn:hover{
	border-color: yellow;	
}

.btn-primary{
	border: 2px solid yellow;
	font-size:1.25rem;
}

.btn-primary.btn-filled {
    background: yellow;
    color: #111;
}

.btn-blue{
	border-color:dodgerblue;
	color:dodgerblue;
}
.btn-blue:hover{
	background:dodgerblue;
	color:white;
	border-color:dodgerblue;
}

.logo-type{
	color:#fff;
	font-weight:bold;
	font-size:2rem;
}

.logo-type:hover{
	color:#fff;
	opacity:0.9;
}

.centered-logo .menu li{
	margin-right:32px;
}

.centered-logo .menu li a{
	padding-bottom: 32px;
}

.product-action,
.top-bar{
	background:/*#009de0*/#0048e0;
}

.product-action{
	padding:20rem 0 20rem 0;
	min-height: calc(50vh - 20rem);
	/*background:#009de0 url(../img/bg-jumbotron.png) no-repeat center bottom;*/
	background:#0048e0 url(../img/bg-jumbotron-2.jpeg) no-repeat center center;
	background-size:cover;
	display:flex;
	align-items:center;
}
.product-action::before{
	content: '';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
}

.product-action h2{
	margin-bottom:24px;
}

.menu li a{
	color:#fff;
	font-size:1.4rem;
}
.menu li a:hover{
	color:yellow;
}

.btn-white:hover{
	background: yellow;
	color:#111;
}

.top-bar.nav-sticky {
    background: rgba(0, 72, 219, 0.9);
}

.form-search-jasa .inputs-wrapper {
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 25px;
	margin-bottom: 24px;
	color: white;
	padding-left: 48px;
	position:relative;
}

.form-search-jasa .inputs-wrapper .icon.icon-magnifying-glass{
	position: absolute;
	top: 12px;
	left: 15px;
	font-size: 32px;
}

.form-search-jasa input{
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 16px;
	outline: none;
	font-size: 18px;
}

.form-search-jasa input::-webkit-input-placeholder {color: #eee;}
.form-search-jasa input::-moz-placeholder {color:  #eee;}
.form-search-jasa input:-ms-input-placeholder {color:  #eee;}
.form-search-jasa input-moz-placeholder {color:  #eee;}


.left-feature, .right-feature{
	margin-top:2rem
}

.feature-icon-large i{
	display:inline-block;
	border: 2px solid dodgerblue;
	color:dodgerblue;
}

section:nth-of-type(odd){
	background:#fff;
}

.duplicatable-content span.h1Alt{margin-bottom:4rem}

#apa--kata--mereka{background:#eee}

.testimonial-face{display:inline-block;width:100px;height:100px;border-radius:50%;overflow:hidden;margin:1rem 0}
.testimonials-slider .author{font-size:12px}

.pricing-2 .container{width:960px}
.pricing-2 .pricing-table,
.pricing-2 .pricing-table .price,
.pricing-2 .pricing-table .features li{border-width:1px;}
	.pricing-2 .pricing-table .features li:nth-child(even){background:#f6f6f6}
	.pricing-2 .pricing-table .features li:first-child{background:#ddd}
.pricing-2 .pricing-table.emphasis{background:dodgerblue}
.pricing-2 .pricing-table.emphasis .features li,
.pricing-2 .pricing-table.emphasis .price{background-color:transparent!important;border-color: #fff;}
.pricing-2 .pricing-tables .col-md-3:first-child .pricing-table,
.pricing-2 .pricing-tables .col-md-3:last-child .pricing-table{border-radius:0;border-width: 1px;}
.pricing-table .price .amount{font-size:42px}
.flex-control-paging li a{background:rgba(30,144,255,0.5)}
	.flex-control-paging li a.flex-active{background:rgba(30,144,255,1)}

/* BLOG */
#blog-topic{
	padding: 2rem 0;
	border-bottom:1px solid #eee;
	background:#f9f9f9
}
#blog-topic .container .row strong,
#blog-topic .container .row a{
	font-size:1.5rem;
	font-weight:bold;
	margin:0 1rem;
}
.blog-snippet-3:nth-child(even){
	background:transparent;
}
.blog-snippet-3:nth-child(odd){
	border-top:1px solid #eee;
}

/* PAGE */
#page section.first-child {
	padding:0;
	background: #f8f8f8 url(../img/surat-perjanjian-bg-2.png) no-repeat;
	background-position-x: 65vw;
	/*background-position-y: 150px;*/
	background-position-y:bottom;
}
#page section.first-child > .container{
	padding:16rem 15px 8rem 15px;
	/*background :url(../img/surat-perjanjian-bg.png) no-repeat;
	background-position-y:bottom;
	background-position-x:right;*/
}
	#page section.first-child h1{
		margin-bottom:2rem;
	}


#page #checkout form label{
	font-size: 1.6rem;
	margin-bottom: 1.4rem;
	color: #666;
}

#page #checkout .inputs-wrapper{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-bottom: 24px;
	color: #111;
	position: relative;
	max-width:720px;
}

#page #checkout .inputs-wrapper input,
#page #checkout .inputs-wrapper textarea,
#page #checkout .inputs-wrapper select{
	background: none;
	border: none;
	box-shadow: none;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	padding: 16px;
	outline: none;
}

#page #checkout .inputs-wrapper select{
	height:56px;
	color: #333;
}

#page #checkout .cbox{
    width: 30px;
    height: 30px;
    margin: 0;
    position: relative;
    display: inline-block;
	margin-right:2rem;
}

.cbox label {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
  	left: 0;
	background: #fff;
	border:1px solid #777;
	border-radius:5px;
}

.cbox label:after {
	opacity: 0.1;
	content: '';
	position: absolute;
	width: 18px;
	height: 10px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.cbox label:hover::after {
	opacity: 0.5;
}

.cbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#page #checkout hr{
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0;
    border-top: 1px dashed #ddd;
}

#page #checkout .subprice{
	position:relative;
}

#page #checkout .subprice .a1{
	border-color:#666;
}

#page #checkout .subprice .a2{
position: absolute;
	top: -2.125rem;
	right: 0;
	font-size: 2.25rem;
	background: #fff;
	font-family: georgia;
	display: inline-block;
	padding: 1rem 3rem;
	color: #111;
}

#page #checkout .xy1{
	padding: 4rem;
	max-width: 720px;
	background: aliceblue;
	margin-bottom: 4rem;
	color: #666;
}

#page #checkout .btn-primary.btn-filled {
	background: dodgerblue;
	color: #fff;
	width: 720px;
	border-color: dodgerblue;
	padding: 1.75rem;
	border-radius: 5px;
	font-size: 16px;
	letter-spacing: 0;
	opacity: 0.75;
}

#page #checkout .btn-primary.btn-filled:hover {
	opacity:1;
}

#page #kategori{
	padding:8rem 0
}

#page #kategori .section-headers{
	margin-bottom:6rem;
}

.footer-link > a{
	display:inline-block;
	margin:1rem 0.5rem;
}

@media screen and (max-width: 1024px){
	#page section.first-child {
		padding:0;
		background: #f8f8f8;
	}
}
