h1, h2, h3, h4, h5, h6{
	font-family:georgia,serif;
}

.double-bounce1, .double-bounce2{
	background-color: /*#009de0*/#0048e0;
}

.btn:hover{
	border-color: yellow;	
}

.btn-primary{
	border: 2px solid yellow;
	font-size:1.25rem;
}

.btn-primary.btn-filled {
    background: yellow;
    color: #111;
}


.logo-type{
	color:#fff;
	font-weight:bold;
	font-size:2rem;
}

.centered-logo .menu li{
	margin-right:32px;
}

.centered-logo .menu li a{
	padding-bottom: 32px;
}

.product-action,.top-bar{
	background:/*#009de0*/#0048e0;
}

.product-action{
	padding:10rem 0 20rem 0;
	min-height: calc(50vh - 10rem);
	/*background:#009de0 url(../img/bg-jumbotron.png) no-repeat center bottom;*/
	background:#0048e0 url(../img/bg-jumbotron-2.jpeg) no-repeat center center;
	background-size:cover;
}
.product-action::before{
	content: '';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5)
}

.product-action h2{
	margin-bottom:24px;
}

.menu li a{
	color:#fff;
	font-size:1.4rem;
}
.menu li a:hover{
	color:yellow;
}

.btn-white:hover{
	background: yellow;
	color:#111;
}

.top-bar.nav-sticky {
    background: rgba(0, 157, 224, 0.9);
}

.form-search-jasa .inputs-wrapper {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    margin-bottom: 24px;
    color: white;
    padding-left: 48px;
}

.form-search-jasa input{
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 16px;
	outline: none;
	font-size: 18px;
}

.form-search-jasa input::-webkit-input-placeholder {color: #eee;}
.form-search-jasa input::-moz-placeholder {color:  #eee;}
.form-search-jasa input:-ms-input-placeholder {color:  #eee;}
.form-search-jasa input-moz-placeholder {color:  #eee;}
