h1, h2, h3, h4, h5, h6{
	font-family:georgia,serif;
}

span.h1Alt,
span.h2Alt{
	font-family: "Helvetica Neue", Helvetica, 'Arimo', Arial, sans-serif;
	font-size: 28px;
	line-height: 44px;
	font-weight: 300;
	color: #333333;
	margin: 0px;
	display:block
}

span.h1Alt{font-size:32px}


section .h1Alt,
section .h2Alt{
	margin-bottom:4rem;
}

.double-bounce1, .double-bounce2{
	background-color: /*#009de0*/#0048e0;
}

.btn:hover{
	border-color: yellow;	
}

.btn-primary{
	border: 2px solid yellow;
	font-size:1.25rem;
}

.btn-primary.btn-filled {
    background: yellow;
    color: #111;
}


.logo-type{
	color:#fff;
	font-weight:bold;
	font-size:2rem;
}

.centered-logo .menu li{
	margin-right:32px;
}

.centered-logo .menu li a{
	padding-bottom: 32px;
}

.product-action,.top-bar{
	background:/*#009de0*/#0048e0;
}

.product-action{
	padding:10rem 0 20rem 0;
	min-height: calc(50vh - 10rem);
	/*background:#009de0 url(../img/bg-jumbotron.png) no-repeat center bottom;*/
	background:#0048e0 url(../img/bg-jumbotron-2.jpeg) no-repeat center center;
	background-size:cover;
}
.product-action::before{
	content: '';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5)
}

.product-action h2{
	margin-bottom:24px;
}

.menu li a{
	color:#fff;
	font-size:1.4rem;
}
.menu li a:hover{
	color:yellow;
}

.btn-white:hover{
	background: yellow;
	color:#111;
}

.top-bar.nav-sticky {
    background: rgba(0, 72, 219, 0.9);
}

.form-search-jasa .inputs-wrapper {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    margin-bottom: 24px;
    color: white;
    padding-left: 48px;
}

.form-search-jasa input{
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 16px;
	outline: none;
	font-size: 18px;
}

.form-search-jasa input::-webkit-input-placeholder {color: #eee;}
.form-search-jasa input::-moz-placeholder {color:  #eee;}
.form-search-jasa input:-ms-input-placeholder {color:  #eee;}
.form-search-jasa input-moz-placeholder {color:  #eee;}


.left-feature, .right-feature{
	margin-top:2rem
}

.feature-icon-large i{
	display:inline-block;
	border: 2px solid dodgerblue;
	color:dodgerblue;
}

section:nth-of-type(odd){
	background:#fff;
}

.duplicatable-content span.h1Alt{margin-bottom:4rem}

#apa--kata--mereka{background:#eee}

.testimonial-face{display:inline-block;width:100px;height:100px;border-radius:50%;overflow:hidden;margin:1rem 0}
.testimonials-slider .author{font-size:12px}

.pricing-2 .container{width:960px}
.pricing-2 .pricing-table,
.pricing-2 .pricing-table .price,
.pricing-2 .pricing-table .features li{border-width:1px}
	.pricing-2 .pricing-table .features li:nth-child(even){background:#eee}
	.pricing-2 .pricing-table .features li:first-child{background:#ddd}
.pricing-2 .pricing-table.emphasis{background:dodgerblue}
.pricing-2 .pricing-table.emphasis .features li,
.pricing-2 .pricing-table.emphasis .price{background-color:transparent!important;border-color: #fff;}
.pricing-2 .pricing-tables .col-md-3:first-child .pricing-table,
.pricing-2 .pricing-tables .col-md-3:last-child .pricing-table{border-radius:0;border-width: 1px;}
.pricing-2 .pricing-table .features li{padding:1.5rem 0;}
.pricing-table .price .amount{font-size:42px}
.flex-control-paging li a{background:rgba(30,144,255,0.5)}
	.flex-control-paging li a.flex-active{background:rgba(30,144,255,1)}
