<div class="footer-container">	
  <footer class="social bg-secondary-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center footer-link">
          <a href="{{site.baseurl}}/blog.html">Blog</a> <a href="{{site.baseurl}}">Ketentuan Layanan</a> <a href="{{site.baseurl}}">Hubungi Kami</a>
        </div>
        <div class="col-sm-12 text-center">
          <span class="sub">© Copright 2017 LEGALSERVICEINDONESIA. All Rights Reserved.</span>
        </div>
      </div>
    </div>

  </footer>
</div>
